<nav class="navbar" style="background-color: #000;">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo title">Methodology</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        {{#if isIndex}}
        <li class="active"><a href="/">Главная</a></li>
        {{else}}
        <li><a href="/">Главная</a></li>
        {{/if}}

        {{#if isCreate}}
        <li class="active"><a href="/">Личный кабинет</a></li>
        {{else}}
        <li><a href="/">Личный кабинет</a></li>
        {{/if}}
      
      </ul>
    </div>
</nav>