<div class="welcome container">
    <div class="welcome--title">
        <h1>Добро пожаловать в Methodology!</h1>
    </div>
    <div>
        <h3>Хотите выбрать методологию разработки для вашего проекта?</h3>   
    </div>
    <div class="flex-center">
        <div class="choose flex-center">
            <a type="submit" class="btn" href="../api/question/1"> Выбрать методологию </a>
        </div>   
    </div>
</div>
