<div class="container"> 
    <form action="/api/question/4" method="POST">
        <h2>{{ question }}</h2>
        <div class="flexbl">
            <p><input  id="inputPassword5" name="name" placeholder="2500300"></p>
            <p>
                рублей
            </p>
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>   
</div>


