<div class="container"> 
    <form action="/api/question/3" method="POST">
        <h3>{{ question }}</h3>
        <div class="datalist">
            <input list="character2" type="text" name="month" placeholder="Через 2 недели">
            <datalist id="character2">
                    <option value="Через 3 дня"></option>
                    <option value="Через 1 неделю"></option>
                    <option value="Через 2 недели"></option>
                    <option value="Через 4 недели"></option>
                    <option value="Через 6 недель"></option>
                    <option value="Через 10 недель"></option>
            </datalist>
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>   
</div>


