<div class="welcome container">
    <div class="welcome--title">
        <h3>Для проекта {{ name }} больше всего подходит:</h3>
    </div>
    <div class="flex-center">
        <div class="flex-center button-model">
            <a type="submit" class="btn flexbl methodology-result"> {{ methodology }} </a>
        </div> 
    </div>
    <div class="discription" align="justify"> {{ discription }} </div>
</div>