<div class="welcome container">
    <div class="welcome--title">
        <h3>Для проекта {{ name }} больше всего подходит:</h3>
    </div>
    <div class="flex-center">
        <div class="choose flex-center">
            <a type="submit" class="btn" class="flexbl methodology-result"> {{ methodology }} </a>
        </div>   
    </div>
</div>