.title{
    margin-left: 20px;
}
.welcome{
    text-align: center;
}
footer{
    min-height: calc(100vh - 80px);
}
body{
    background-color: rgb(238, 238, 238);
    width: 100%;
    height: 100%;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.choose{
    background-image: url("../../choose.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 650px;
    width: 1000px;
}

.choose .btn{
    height: 80px;
    font-size: 30px;
    width: 300px;
    text-align: center;
    justify-content: center;
    align-items: center;
    white-space: normal;
}

.auth{
    background-color: white;
    padding: 30px;
    margin-top: 8%;
    width: 700px;
    border-radius: 1%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) { 
    .welcome--title{
        font-size: 20px;
    }
    body{
        height: 500px;
    }

}

.datalist{
    margin-bottom: 20px;
}
.flexbl{
    display: flex;
    align-items: center;
}

.level{
    margin-right: 18px;
}

.methodology-result{
    margin-top: 35px;
}